SQLAlchemy==2.0.23
appdirs~=1.4.4
beautifulsoup4==4.12.2
PySide6-Essentials==6.3.1
Pillow==10.3.0
reportlab==4.4.1
packaging==23.2
traitlets==5.13.0
requests==2.32.2
markdown2==2.4.10
lxml==5.4.0
Jinja2==3.1.6
alembic==1.15.2
aiohttp~=3.11.18
psutil~=5.9.5
python-pptx==0.6.23
